* {
  all: unset;
  font-family: "Iosevka Nerd Font Mono", Roboto, sans-serif;
}

tooltip {
  border-radius: calc(12px + 2px);
  background: #1e1e2e;
}

.workspaces {
  background: transparent;
}
.workspaces button {
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1), border 0.35s cubic-bezier(0.2, 0, 0, 1);
  margin: 3px 3px;
  border-radius: 14px;
  padding: 0 6px 0 6px;
  color: #cdd6f4;
  background: #313244;
  margin: 5px 3px;
  min-width: 0.6rem;
  min-height: 0.6rem;
  padding: 6px 0;
  background: #313244;
  border-radius: 99px;
}
.workspaces button:hover {
  color: #b4befe;
}
.workspaces button:hover {
  background: #b4befe;
}
.workspaces button.focused {
  border-radius: 14px;
  background: #f38ba8;
}
.workspaces button.urgent {
  background: red;
}

.music.window {
  background: rgba(0, 0, 0, 0.5);
  margin: 5px 10px 15px;
  border-radius: 12px;
  padding: 2px;
}
.music.window .cover {
  background-position: center;
  background-size: cover;
  border-radius: 12px;
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.5);
  margin: 0.4rem;
  min-height: 13rem;
  min-width: 13rem;
}

.music.window .info {
  margin: 0.5rem;
}
.music.window .info label,
.music.window .info scale {
  margin: 0.3rem 0;
}
.music.window .info label.position,
.music.window .info label.length {
  font-size: 0.8rem;
  margin-bottom: 0;
}
.music.window .info scale {
  margin-top: 0;
  margin-bottom: 0;
}
.music.window .info .title {
  font-size: 1.5rem;
  font-weight: bold;
  min-width: 14rem;
}

.music.window .controls button {
  margin: 0 0.2rem;
  font-size: 1.5rem;
}

.music.window .player-info {
  margin-bottom: 0;
}
.music.window .player-info .player-icon {
  font-size: 1.2rem;
}

.clock {
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1), border 0.35s cubic-bezier(0.2, 0, 0, 1);
  margin: 3px 3px;
  border-radius: 14px;
  padding: 0 6px 0 6px;
  color: #cdd6f4;
  background: #313244;
  font-family: robotomono;
  font-weight: 800;
  border-radius: 0.5em;
  margin: 4px 4px;
  padding: 0.375em;
}
.clock:hover {
  color: #b4befe;
}

.volumeBox {
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1), border 0.35s cubic-bezier(0.2, 0, 0, 1);
  margin: 3px 3px;
  border-radius: 14px;
  padding: 0 6px 0 6px;
  color: #cdd6f4;
  background: #313244;
  border-radius: 0.5em;
  margin: 0.375em 0.25em;
  padding: 0.375em;
}
.volumeBox:hover {
  color: #b4befe;
}

.volume-speaker,
.volume-microphone {
  margin: 4px 4px;
}

/* gtk docs ftw */
* > menu {
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1), border 0.35s cubic-bezier(0.2, 0, 0, 1);
  margin: 3px 3px;
  border-radius: 14px;
  padding: 0 6px 0 6px;
  color: #cdd6f4;
  background: #313244;
}
* > menu:hover {
  color: #b4befe;
}
* > menu separator {
  background-color: #f38ba8;
}
* > menu menuitem * {
  padding: 2px;
}
* > menu menuitem:hover {
  background-color: #b4befe;
  border-radius: 8px;
}
* > menu menuitem label {
  margin: 4px;
}

.tray {
  margin: 0 0 1.5px 0;
}

.trayItem {
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1), border 0.35s cubic-bezier(0.2, 0, 0, 1);
  margin: 3px 3px;
  border-radius: 14px;
  padding: 0 6px 0 6px;
  color: #cdd6f4;
  background: #313244;
  padding: 0;
  margin: 4px 4px;
}
.trayItem:hover {
  color: #b4befe;
}

.trayIcons {
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1), border 0.35s cubic-bezier(0.2, 0, 0, 1);
  margin: 3px 3px;
  border-radius: 14px;
  padding: 0 6px 0 6px;
  color: #cdd6f4;
  background: #313244;
  margin-left: 6px;
  padding: 6px 6px;
  border-radius: 0.5em;
}
.trayIcons:hover {
  color: #b4befe;
}

.nix-menu {
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1), border 0.35s cubic-bezier(0.2, 0, 0, 1);
  margin: 3px 3px;
  border-radius: 14px;
  padding: 0 6px 0 6px;
  color: #cdd6f4;
  background: #313244;
  padding: 14px 0;
}
.nix-menu:hover {
  color: #b4befe;
}
@keyframes spin {
  to {
    -gtk-icon-transform: rotate(1turn);
  }
}
.nix-menu image.speen {
  animation-name: spin;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.bar {
  border-radius: calc(12px + 2px);
  color: #cdd6f4;
  background: #1e1e2e;
  font-family: roboto;
  border-radius: 14px;
  padding: 2px;
}

.bar .music > .box {
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1), border 0.35s cubic-bezier(0.2, 0, 0, 1);
  border-radius: 12px;
  margin: 0.4rem;
}
.bar .music .cover {
  margin: 4px 8px 4px;
  background-size: cover;
  background-position: center;
  border-radius: 9999px;
  min-width: 2rem;
  min-height: 2rem;
}

.notification {
  border-radius: calc(12px + 2px);
  margin: 5px 5px 5px 12px;
  min-width: 25rem;
  background-color: #1e1e2e;
  color: #cdd6f4;
}
.notification.low {
  border: 1.5px solid #b4befe;
}
.notification.normal {
  border: 1.5px solid #89b4fa;
}
.notification.critical {
  border: 1.5px solid #f38ba8;
}

.notification .icon image {
  font-size: 5rem;
  margin: 0.5rem;
  min-height: 5rem;
  min-width: 5rem;
}
.notification .icon > box {
  border-radius: 12px;
  margin: 0.5rem;
  min-height: 5rem;
  min-width: 5rem;
}

.notification .actions .action-button {
  border-radius: calc(12px + 2px);
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1), border 0.35s cubic-bezier(0.2, 0, 0, 1);
  padding: 4px 0;
}
.notification .actions .action-button:hover {
  background: #cdd6f4;
}

.notification .text {
  margin: 6px 4px;
}
.notification .text .title {
  margin: 4px 6px;
  color: #cdd6f4;
  font-weight: 900;
}
.notification .text .body {
  margin: 4px 6px;
  color: #cdd6f4;
  font-weight: 600;
}
