BraveSoftware/
btop/
dconf/
doom/
fontconfig/
gtk-3.0/
gtk-4.0/
libfm/
libreoffice/
lxqt/
nvtop/
pulse/
systemd/
pcmanfm-qt/
Mozilla/
environment.d/

zsh/.zcompdump
zsh/.zsh_history

/QtProject.conf
/skanpagerc
/user-dirs.locale
/user-dirs.dirs
