BraveSoftware/
btop/
dconf/
doom/
fontconfig/
gtk-3.0/
libfm/
libreoffice/
lxqt/
nvtop/
pulse/
systemd/

pcmanfm-qt/default/recent-files.conf
zsh/.zcompdump
zsh/.zsh_history

/skanpagerc
/user-dirs.locale
/user-dirs.dirs
