/* gtk docs ftw */
* {
  & > menu {
    @include barModule;

    separator {
      background-color: $red;
    }

    menuitem {
      * {
        padding: 2px;
      }

      &:hover {
        background-color: $lavender;
        border-radius: 8px;
      }

      label {
        margin: 4px;
      }
    }
  }
}

.tray {
  margin: 0 0 1.5px 0;
}

.trayItem {
  @include barModule;
  padding: 0;
  margin: 4px 4px;
}

.trayIcons {
  @include barModule;
  margin-left: 6px;
  padding: 6px 6px;
  border-radius: 0.5em;
}
