.workspaces {
  background: transparent;

  button {
    @include barModule;

    margin: 5px 3px;
    min-width: 0.6rem;
    min-height: 0.6rem;
    padding: 6px 0;

    background: $surface;
    border-radius: 99px;

    &:hover {
      background: $lavender;
    }

    &.focused {
      border-radius: 14px;
      background: $red;
    }

    &.urgent {
      background: red;
    }
  }
}
