/* how did I take so long to find this out? 
menu is in the global scope, so this does the trick
 */

* {
  & > menu {
    @include barModule;
  }
}

.tray {
  margin: 1.5px 0 0 0;
}

.trayIcon {
  @include barModule;
  padding: 0;
  margin: 0 3px 0 3px;
}

.trayIcons {
  @include barModule;
  margin-top: 6px;
  padding: 6px 6px;
  border-radius: 0.5em;
}
